<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="actor" class="com.stackroute.domain.Actor">
        <property name="name" value="Diljit Dosanjh"></property>
        <property name="gender" value="male"></property>
        <property name="age" value="35"></property>
    </bean>

    <bean id="actress" class="com.stackroute.domain.Actor">
        <property name="name" value="Sargun Mehta"></property>
        <property name="gender" value="female"></property>
        <property name="age" value="30"></property>
    </bean>

    <bean id="movie" class="com.stackroute.domain.Movie">
        <property name="actor" ref="actor"></property>
        <property name="actress" ref="actress"></property>
    </bean>

</beans>